/* index.css */

/* Container styling */
.weather-container {
  padding: 20px;
  /* background-color: #f0f8ff; Light blue background */
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  max-width: 600px;
  margin: auto;
}

/* Form styling */
.weather-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Input styling */
.weather-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

/* Button styling */
.weather-button {
  padding: 10px;
  border: none;
  border-radius: 40px;
  background-color: #5599dcd0; /* Bootstrap primary color */
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.weather-button:hover {
  background-color: #95cbe1; /* Darker shade on hover */
}
.today-weather {
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto";
}
/* Message styling */
.weather-message {
  margin-top: 10px;
  font-size: 16px;
  color: #ff0000; /* Red color for error messages */
}

/* Weather data styling */
.weather-data {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff; /* White background */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-data h3 {
  margin-top: 0;
  font-size: 24px;
  color: #955858; /* Darker color for headings */
}

.weather-data p {
  font-size: 18px;
  margin: 5px 0;
  font-weight: 500;
  color: #555; /* Slightly lighter color for text */
}
